*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: grid;
    grid-template: max-content minmax(calc(100vh),1fr) / max-content minmax(600px, 1fr);
}
.sidebar{
    background-color: #1992D4;
    grid-area: 1/1/4/2;
    display: grid;
    grid-auto-rows: max-content;
    grid-template: max-content/max-content;
    padding: 30px 60px;
    row-gap: 20px;
    align-items: center;
    box-shadow: 0 0 20px #444;
    z-index: 2;
}
.h-divider{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}
.logo{
    font-size: 36px;
    color: white;
}
.sidebar a{
    text-decoration: none;
    color:ghostwhite;
    display: inline;
    font-size: 28px;
    padding-left: 35px;
}
.main-content{
    background-color: #E2E8F0;
    grid-template:2/2/4/4;
    display: grid;
    grid-template: max-content/1fr 400px;
    padding: 40px;
}
.header{
    background-color: #FFFFFF;
    grid-area: 1/2/2/4;
    grid-template:  max-content max-content/minmax(600px,1fr) max-content;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 0 30px #444;
    z-index: 1;
}

.top-header{
    grid-area:1/1/2/4 ;
    display: grid;
    grid-template:max-content/1fr     max-content ;
}
.bottom-header{
    grid-area:2/1/4/4 ;
    display: grid;
    align-items: center;
    grid-template:max-content/1fr max-content ; 
}
.header-btns{
    display: grid;
    grid-template-columns: repeat(3,max-content);
    gap: 30px;
    padding-right: 30px;
    
}
button{
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.search-bar{
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 15px;
    align-items: center;
}
.search-bar input{
    background-color: #E2E8F0;
    width: 600px;
    font-size: 18px;
    padding: 8px;
    margin-left: 15px;
    border-radius: 20px;
    border: none;
}
.section-title{
    grid-column: 1/-1;
    font-size: 24px;
    font-weight: 600;
}
.projects{
    padding: 25px;
    display:grid;
    grid-auto-rows:max-content;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}   
.project{
    padding: 30px 50px 30px 50px;
    background-color: white;
    display: grid;
    grid-template-rows: max-content max-content;
    gap: 10px;
    border-radius: 10px;
    border-left: 10px solid #F0B429;
}
.project:hover{
    box-shadow: 0 0 30px #aaa;
}
.project-link{
    display: grid;
    grid-template-columns: repeat(3,max-content);
    justify-content: end;
    gap: 30px;
}
.project-text{
    display: grid;
    gap: 20px;
}
h1{
    font-size: 24px; 
}
.news{
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: 30px;
}
.announcements,.trending{
    display: grid;
    grid-template-rows: max-content;
}
.announcements{
    background-color: white;
    padding: 32px;
    border-radius: 8px;
  
}
.trending{
    background-color: white;
    padding: 32px;
    border-radius: 8px;
}
a{
    text-decoration: none;
    color:white;
    font-weight: 700;
}
.projects a{
    text-decoration: none;
    color:#555;
}
.projects a:hover{
    color:#aaa;
}
button{
    background-color: #1992D4;
    padding: 12px 28px;
    color:#fff; 
    border-radius: 30px;
}
.logo-img{
    height: 7vh;
}
.logo{
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: -3px;
    font-weight: 700;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
}
.announcements-container .h-divider{
    background-color: #E2E8F0;
    margin: 30px 0;
}
#dashboard{
    background:url('./svgs/view-dashboard.svg') ;
    background-repeat:no-repeat ;

}
#home{
    background: url('./svgs/home.svg');
    background-repeat:no-repeat ;
}
#profile{
    background: url('./svgs/card-account-details-outline.svg');
    background-repeat:no-repeat ;
}
#messages{
    background: url('./svgs/message.svg');
    background-repeat:no-repeat ;
}
#tasks{
    background: url('./svgs/note-multiple-outline.svg');
    background-repeat:no-repeat ;
}
#communities{
    background: url('./svgs/account-group.svg');
    background-repeat:no-repeat ;
}
#settings{
    background: url('./svgs/cogs.svg');
    background-repeat:no-repeat ;
}
#support{
    background: url('./svgs/help-box-multiple-outline.svg');
    background-repeat:no-repeat ;
}
#security{
    background: url('./svgs/shield-check-outline.svg');
    background-repeat:no-repeat ;
}
.header-avatar{
    height: 10vh;
    border-radius: 50%;
}
.avatar-text{
    display: grid;
    grid-template-rows: max-content max-content;
    gap: 10px;
}
.avatar-text p{
    font-size: 18px;
}
.avatar-text h1{
    font-size: 30px;
}
.text-header{
    padding-top: 30px;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
}
.profile{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    align-items: center;
    gap: 30px;
    margin-right: 100px;
}
.profile span{
    font-size: 24px;
    font-weight: 700;
}
.avatar{
    height: 5vh;
    border-radius: 50%;
}
.trend{
    padding-top: 20px;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 20px;
}